
.container{
  background-color: rgb(20, 15, 48);
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
h1{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 10px;
  background-color: rgba(192, 192, 16, 0.781);
  color: rgb(20, 15, 48);
  margin: 1rem;
  font-weight: 700;
  border: 0;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  font-size: 1rem;
  background-color: yellowgreen;
  color: rgb(20, 15, 48);
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
  border-radius: 10px;
  font-weight: 600;
}
ul{
  min-width: 20vw;
  background-color: white;
  list-style: none;
  border-radius: 10px;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 .5rem;
  color: rgb(20, 15, 48);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10px;
}
p{
  color: white;
  font-size: 1.5rem;
}

input [type="checkbox"]{
  border: 1rem solid rgb(20, 15, 48);
  font-size: 2rem;
}